
.reveal td{
  vertical-align: middle;
}
#code table td{
  text-align: center;
}
.reveal table{
  margin: auto;
}

.reveal iframe {
  max-width: 100%;
  max-height: 101%;
}
.reveal img{
  margin: 10px;
}

.list {
  font-weight: bold !important;
  list-style-type: none !important;
  position: absolute !important;
  width: 250px !important;
}

.way {
  top: -200px;
  right: 0%;
  -webkit-transform: rotate(30deg);
}

.demo {
  top: 45%;
  right: 7%;
}