extends layout

block content
  header
    h1 ScaleWS
    h2 Get and process data acquired from the scale (Withings WS50)

  section#main
    // ToolTipForm View //
    div#tooltip
    // HighChart Views //
    div#chart-weight
    div#chart-temperature
    div#chart-air
    div#chart-pulse
    // MeasureView //
    table#text-weight

block bodyscripts
  script(data-main="js/main.js" src="bower_components/requirejs/require.js")
