extends layout

block content
  header
    h1 ScaleWS
    h2 Get and process data acquired from the scale (Withings WS50)

  section#main
    // App View //
    div#menu
        div#weight.menu.selected weight
        div#temperature.menu.selected temperature 
        div#air.menu.selected air
        div#pulse.menu.selected pulse
    // ToolTipForm View //
    div#tooltip
    // HighChart Views //
    div#chart-weight.chart
    div#chart-temperature.chart
    div#chart-air.chart
    div#chart-pulse.chart
    // MeasureView //
    table#text-weight
    table#text-temperature
    table#text-pulse
    table#text-air

block bodyscripts
  script(data-main="js/main.js" src="bower_components/requirejs/require.js")
