extends layout
block content

  #measureapp
    header
      h1 Measures

    section#main
      table#measure-list

    footer
      #measure-count

block bodyscripts

  script#item-template(type="text/template")
    |<td><%= value %></td>
    |<td><%= type %></td>
    |<td><%= date %></td>

  script(type="text/javascript", src="javascripts/measures.js")