extends layout

block content
  header
    h1 ScaleWS
    h2 Get and process data acquired from the scale (Withings WS50)

  section#main
    // Menu View //
    div#menu
    // ToolTipForm Views //
    div#tooltip
    // Average Views //
    div#average-weight.measure
    div#average-temperature.measure
    // HighChart Views //
    div#chart-weight.measure
    div#chart-temperature.measure
    // Average Views //
    div#average-air.measure
    div#average-pulse.measure
    // HighChart Views //
    div#chart-air.measure
    div#chart-pulse.measure
    // Measure Views //
    table#text-weight
    table#text-temperature
    table#text-pulse
    table#text-air

block bodyscripts
  script(data-main="js/main.js" src="bower_components/requirejs/require.js")
