extends layout

block content
  header
    h1 ScaleWS
    h2 Get and process data acquired from the scale (Withings WS50)

  section#main
    table#measure-list
      th type
      th value
      th date

block bodyscripts
  script#item-template(type="text/template")
    <td><%= type %></td>
    <td><%= value %></td>
    <td><%= date %></td>
  script(type="text/javascript", src="/js/bundle.js")
