body {
  font: 14px helvetica;
  color: rgba(255, 255, 255, 0.5);
  background-color: #262626;
  text-align: center;
  margin: 0; }

#main {
  text-align: center;
  overflow: hidden; }

header {
  position: relative;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 1.5%;
  background-color: #6F9CC7;
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  color: white;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2); }
  header h1 {
    font-size: 3em;
    margin: 0; }
  header h2 {
    line-height: 2em;
    font-size: 1em;
    margin: 0; }
    @media (max-width: 460px) {
      header h2 {
        display: none; } }

.measure {
  font-family: 'Helvetica', sans-serif;
  display: inline-block;
  vertical-align: top;
  width: 440px;
  margin: 1.5%;
  background-color: #323232;
  border: 1px solid #1C1C1C;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }
  .measure p {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5em;
    padding: 0.5em;
    margin: 0.5em;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    border: 1px solid #1C1C1C; }
  .measure h2 {
    color: #c5de71;
    font-size: 1.5em;
    margin: 0.2em; }
  @media (max-width: 460px) {
    .measure {
      width: 90%;
      margin-left: 0;
      margin-right: 0; } }
  @media (min-width: 1090px) {
    .measure {
      width: 40%; } }

#menu div.menu {
  display: inline-block;
  min-width: 123px;
  margin: 10px;
  padding: 15px;
  color: #d47d6c;
  border: 1px solid #d47d6c;
  border-radius: 5px;
  text-transform: uppercase;
  font: 12px helvetica;
  cursor: pointer; }
#menu div.menu.selected {
  color: #c5de71;
  border: 1px solid #c5de71; }
#menu .menuItem {
  display: inline; }

.textView {
  vertical-align: top;
  border: 1px solid #1C1C1C;
  border-top: none;
  background: #323232;
  display: inline-table;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 40%;
  margin: 1%;
  color: #cbcbcb;
  font-family: 'Helvetica', sans-serif;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2); }
  .textView caption {
    color: #c5de71;
    font: 20px helvetica;
    border: 1px solid #1C1C1C;
    border-bottom: none;
    background: #323232;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 7px; }
  .textView th, .textView td {
    padding: 8px 8px 8px;
    text-align: center; }
  .textView th {
    padding-top: 12px;
    background: rgba(255, 255, 255, 0.08); }
  .textView td {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    border-right: 1px solid rgba(255, 255, 255, 0.08); }
  @media (max-width: 460px) {
    .textView {
      width: 90%;
      margin-left: 0;
      margin-right: 0; } }
  @media (min-width: 1090px) {
    .textView {
      width: 40%; } }
  .textView tr {
    -webkit-animation: newVal 5s;
    animation: newVal 5s; }

@-webkit-keyframes newVal {
  from {
    background: red; }

  to {
    background: transparent; } }

@keyframes newVal {
  from {
    background: red; }

  to {
    background: transparent; } }

#tooltip {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  bottom: 10px;
  color: black;
  display: none;
  height: 101px;
  left: 50%;
  margin-left: -125px;
  padding: 15px;
  position: fixed;
  width: 250px;
  z-index: 10000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }
  #tooltip form {
    position: relative;
    top: -6px; }
  #tooltip p {
    margin: 0;
    padding: 0; }
  #tooltip .field {
    padding: 0; }
