$body_background_color: #101214;
$text_color: rgba(255, 255, 255, 0.5);
$trans-white: rgba(255,255,255, 0.03);


body {
  font: 14px helvetica;
  color: $text_color;
  background-color: $body_background_color;
  text-align: center;
  #main{
    text-align: center;
  }
}

header{
  position: relative;
  width: 100%;
  padding-top: 4%;
  padding-bottom: 4%;
  margin-bottom : 3%;
  background-color : #34495D;
  font-family : 'Helvetica', sans-serif;
  text-align: center;
  color: white;
  h1{
    font-size: 400%;
    margin-bottom: 2%;
  }
  h2{
    font-size:100%;
  }
}

table {
  border:1px solid #d3d3d3;
  background:$body_background_color;
  display: inline-table;
  width:70%;
  -moz-border-radius:5px; /* FF1+ */
  -webkit-border-radius:5px; /* Saf3-4 */
  border-radius:5px;

  th, td {
    padding:18px 28px 18px;
    text-align:center;
  }

  th {
    padding-top:22px;
    text-shadow: 1px 1px 1px $text-color;
    background:$trans-white;
  }


  td {
    border-top:1px solid $trans-white;
    border-right:1px solid $trans-white;
  }
}

#tooltip {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  bottom: 10px;
  color: #FFFFFF;
  display: none;
  height: 101px;
  left: 50%;
  margin-left: -200px;
  padding: 15px;
  position: fixed;
  width: 400px;
  z-index: 10000;
}
