$body_background_color: #262626;
$box_background_color: #323232;
$green : #C5DE71;
$pink : #D47D6C;
$text_color: rgba(255, 255, 255, 0.5);
$trans-white: rgba(255,255,255, 0.08);
$break-small : 460px;
$break-big : 1090px;


body {
  font: 14px helvetica;
  color: $text_color;
  background-color: $body_background_color;
  text-align: center;
  margin: 0;
  #main{
    text-align: center;
  }
}

header{
  position: relative;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom : 1.5%;
  background-color : #6F9CC7;
  font-family : 'Helvetica', sans-serif;
  text-align: center;
  color: white;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
  h1{
    font-size: 3em;
    margin: 0;
  }
  h2{
    line-height: 2em;
    font-size:1em;
    margin: 0;
    @media(max-width: $break-small){
      display: none;
    }
  }
}

div.measure{
  font-family : 'Helvetica', sans-serif;
  display: inline-block;
  vertical-align: top;
  width : 440px;
  margin : 1.5%;
  background-color: $box_background_color;
  border:1px solid #1C1C1C;
  border-radius:5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  @media(max-width: $break-small){
    width: 90%;
    margin-left: 0;
    margin-right: 0;
  }
  @media(min-width: $break-big){
    width: 40%;
  }
  p{
    display: inline-block;
    vertical-align: top;
    list-style: none;
    color: $text_color;
    font-size: 1.5em;
    padding:0.5em;
    margin: 0.5em;
    background-color: $trans-white;
    border-radius: 5px;
    border:1px solid #1C1C1C;
  }
  h2{
    color: $green; 
    font-size: 1.5em;
    margin: 0.2em;
  }
}

table {
  caption{
    color: $green; 
    font: 20px helvetica;
    border:1px solid #1C1C1C;
    border-bottom : none;
    background:$box_background_color;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    padding: 7px;
  }
  vertical-align: top;
  border:1px solid #1C1C1C;
  border-top : none; 
  background:$box_background_color;
  display: inline-table;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  width:40%;
  margin: 1%;
  color: #cbcbcb;
  font-family : 'Helvetica', sans-serif;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);

  th, td {
    padding:8px 8px 8px;
    text-align:center;
  }

  th {
    padding-top:12px;
    background:$trans-white;
  }


  td {
    border-top:1px solid $trans-white;
    border-right:1px solid $trans-white;
  }
}

#main {
  overflow: hidden;
}

div.chart, table {
  @media(max-width: $break-small){
    width: 90%;
    margin-left: 0;
    margin-right: 0;
  }
  @media(min-width: $break-big){
    width: 40%;
  }
}

#tooltip {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  bottom: 10px;
  color: #FFFFFF;
  display: none;
  height: 101px;
  left: 50%;
  margin-left: -200px;
  padding: 15px;
  position: fixed;
  width: 400px;
  z-index: 10000;
}
#menu{
  div.menu{
    display: inline-block;
    min-width: 123px;
    margin: 10px;
    padding: 15px;
    color: $pink;
    border: 1px solid $pink;
    border-radius: 5px;
    text-transform: uppercase;
    font: 12px helvetica;
    cursor: pointer;
  }
  div.menu.selected{
    color: $green;
    border: 1px solid $green;
  }
  .menuItem {
    display: inline;
  }
}
